<div style="width:100%;">
  <div style="background-color: #a9a9a9; overflow: hidden; padding: 6px; margin-bottom: 5px; -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;">
    <div style="width:50%; float:left;">
      <%= link_to new_message_path, :remote => true, :id => "message_new" do %>
        <button class="btn" type="button"> <i class="icon-pencil"></i> Post</button>
      <% end %>
    </div>
  </div>
</div>

<div id="message_list">
  <% if @messages.empty? %>
    No Messages !!!
  <% else %>
    <%= render 'messages' %>
  <% end %>
</div>  